
<form class="d-flex" role="search" method="post" action="/search" style="margin: 20px;">
<input
  class="form-control me-2"
  type="search"
  placeholder="Search"
  aria-label="Search"
  name="searchText"
/>
<button class="btn btn-outline-success" type="submit">
  Search
</button>
</form>