<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha384-GLhlT4h05jIHirv5C6bKaLP4G4Ep9e2i6iH9i0kWk2C1j8F9eNkRKn8km/fIb5V9" crossorigin="anonymous">
    <title><%= mytitle %></title>
</head>
<body>
    <h1>hello word</h1>

    <form action="/"  method="post">
        <input type="text" name="username">
     
     
        <button>Create</button>
    </form>

    <h3>your name is <%= arr.at(-1).username %></h3>
</body>
</html>